@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/* Imported Roboto, Poppins, Anton Font Family */

:root {
    /* --main-bg: #222222; */
    --main-bg: #ffffff;
    --txt-color: #161616;
    --light-txt: #222222d0;
    --secondary_txt: #ffffff;
}


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.material-symbols-outlined {
    color: #fff;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: var(--txt-color);
}

body{
    box-sizing: border-box;
    font-family: 'Poppins';
    background: var(--main-bg);
    color: var(--txt-color);
    overflow-x: hidden;
    cursor: none;
}

nav{
    padding: 28px 6%;
    max-width: 1280px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 50%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
    box-sizing: border-box;
    transition: .2s;
}

nav h1{
    z-index: 100;
}

nav.active{
    padding: 16px 6%;
    background: var(--main-bg);
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin-right: 3.5vw;
    position: relative;
}

nav ul li a{
    color: var(--txt-color);
    text-decoration: none;
    cursor: none;
}

nav ul li::before{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 50%;
    right: 50%;
    height: 2px;
    background: var(--txt-color);
    border-radius: 3px;
    transition: .2s;
    transition-delay: .1s;
}

nav ul li:hover::before{
    left: 0;
    right: 0;
}

nav div{
    display: flex;
    flex-direction: column;
}

nav div span{
    width: 30px;
    height: 4px;
    position: relative;
    background: var(--txt-color);
    border-radius: 3px;
}

nav div span:nth-child(1){
    margin-bottom: 6px;
}

/* ------------------ Home ------------------------ */

section{
    max-width: 1280px;
    padding: 90px 6% 20px 6%;
    margin: auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding-top: 0;
}

.parallaxDiv{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.parallaxDiv img{
    position: absolute;
    width: 85%;
    z-index: -1;
    transition: .1s;
}

.header .header_txt{
    width: 80%;
}

.header_txt h1{
    font-size: 3.3rem;
    max-width: 600px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2px;
}

.header_txt #heroHead{
    transition-delay: .3s;
}

.header_txt .playButton{
    background: transparent;
    border: 1px solid var(--txt-color);
    display: flex;
    align-items: center;
    max-width: 200px;
    border-radius: 30px;
    padding: 12px;
    margin-top: 60px;
}

.header_txt .playButton img{
    max-width: 40px;
}

.header_txt .playButton p{
    font-size: 12px;
    margin-left: 20px;
}

.absoluteHero{
    max-width: 200px;
    display: flex;
    position: relative;
    height: 90vh;
    padding: 20px 0;
    flex-direction: column;
    justify-content: space-between;
}


.absoluteHero h1{
    position: absolute;
    top: 40%;
    left: -60%;
    font-size: 12rem;
    font-weight: 600;
    z-index: -10;
    color: var(--main-bg);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rosybrown;
}

.absoluteHero .absoluteTxt{
    margin-top: 90px;
}

.absoluteTxt h2{
    font-weight: 600;
    font-size: 17px;
}

.absoluteTxt p{
    color: var(--light-txt);
    font-size: 12px;
    margin: 16px 0;
}

.absoluteTxt .headerProfiles{
    display: flex;
    transform: translateX(10px);
}

.headerProfiles img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--txt-color);
    margin-left: -10px;
    z-index: 1;
    object-fit: cover;
}

.headerProfiles img:nth-child(4){
    z-index: 1;
}

.headerProfiles img:nth-child(3){
    z-index: 2;
}

.headerProfiles img:nth-child(2){
    z-index: 3;
}

.headerProfiles img:nth-child(1){
    z-index: 4;
}

.headerProfiles .additionalCount{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--txt-color);
    margin-left: -10px;
    z-index: -1;
    color: var(--txt-color);
    display: flex;
    justify-content: center;
    font-size: 13px;
    align-items: center;
}

#ScrollMeDown{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: none;
}

#ScrollMeDown span{
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
    position: relative;
}


.neonContainer{
    margin: 20px auto;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.neon_div{
    display: flex;
    flex-direction: column;
    max-width: 230px;
    text-align: center;
    padding: 26px;
    border-radius: 70px;
    margin-bottom: 35px;
}

.neon_div:nth-child(1){
    background: linear-gradient(0deg,var(--txt-color) 0%, #f5c227 100%);
}

.neon_div:nth-child(2){
    background: linear-gradient(0deg, var(--txt-color) 0%, #c3bea1 100%);
}

.neon_div:nth-child(3){
    background: linear-gradient(0deg, var(--txt-color) 0%, #6d8a13 100%);
}

.neon_div:nth-child(4){
    background: linear-gradient(0deg, var(--txt-color) 0%, #574f45 100%);
}

.neon_div span{
    font-size: 28px;
    position: relative;
    align-self: center;
    width: 27px;
}

.neon_div span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    z-index: -1;
    /* background: var(--color); */
    border-radius: 50%;
}

.neon_div h1{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 6px;
}


/* ----------------------- About -------------------- */

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
}

.aboutBox{
    padding-bottom: 20px;
}

.aboutBox h1{
    font-weight: 500;
    font-size: 2.41rem;
}

.aboutBox p{
    color: var(--light-txt);
    margin: 12px 0;
    line-height: 28px;
    min-height: 100px;
}

.about_txt:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.about_txt:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.aboutImgBox{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    padding: 0;
    justify-content: center;
}

.aboutImgBox object{
    width: 100%;
}

@media (max-width:750px) {
    #about{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #about div{
        grid-column: 1 / 3;
        grid-row: auto;
    }

    .aboutImgBox{
        grid-row: auto;
    }
}

.about_txt h3{
    font-weight: 500;
    margin-bottom: 6px;
}

.about_txt li span{
    font-size: 20px;
    color: #f5c227;
    margin-right: 8px;
}

.about_txt ul{
    list-style: none;
    align-items: center;
}

.about_txt ul li{
    align-items: center;
    margin-bottom: 6px;
    transition: .2s;
    display: flex;
    width: fit-content;
}

.about_txt ul li:hover{
    transform: translateX(4px);
}


/* --------------------- Services  */

#services{
    position: relative;
}

#services h1{
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
}

.serviceContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}

.serviceBox{
    padding: 20px;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.serviceBox h2{
    font-weight: 500;
    color: var(--secondary_txt);
}

.serviceBox p{
    color: var(--secondary_txt);
    margin: 8px 0;
    font-size: 13px;
}

.serviceBox div:nth-child(2){
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.serviceBox .serviceBtn{
    background: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 4px;
}

.serviceBox button{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    font-family: 'Teko';
    background: transparent;
    color: var(--txt-color);
    font-size: 18px;
    text-transform: uppercase;
}

.serviceBox button span{
    margin-left: 8px;
}

.serviceBox:nth-child(1){
    background: linear-gradient(0deg,var(--txt-color) 0%, #f5c227 100%);
}

.serviceBox:nth-child(2){
    background: linear-gradient(0deg,var(--txt-color) 0%, #c3bea1 100%);
}

.serviceBox:nth-child(3){
    background: linear-gradient(0deg,var(--txt-color) 0%, #6d8a13 100%);
}

.serviceBox:nth-child(4){
    background: linear-gradient(0deg,var(--txt-color) 0%, #574f45 100%);
}

/* // For Btns */
.serviceBox:nth-child(1) .serviceBtn{
    background: #f5c227;
}

.serviceBox:nth-child(2) .serviceBtn{
    background: rgba(172, 159, 115, 1);
}

.serviceBox:nth-child(3) .serviceBtn{
    background: #6d8a13;
}

.serviceBox:nth-child(4) .serviceBtn{
    background: #574f45;
}


/* --------------------- Testimonials */

.testimonials h1{
    font-weight: 500;
    font-size: 2.5em;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
}

.card{
    cursor: none;
    border-radius: 10px;
    position: relative;
}

.card:hover{
    background: linear-gradient(180deg, #574f45,#f5c227, #f7e5b2,#f7ecbb00);
}

.card .quotesImg{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 40%;
    width: 60px;
    user-select: none;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    padding: 25px 0;
}

.card-image{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-content span{
    color: #6d8a13;
    font-size: 14px !important;
    margin-bottom: 15px;
}

.name{
    font-size: 20px;
    font-weight: 500;
    color: var(--txt-color);
}

.description{
    font-size: 14px;
    color: var(--light-txt);
    text-align: center;
}

.card-content button{
    border: none;
    font-size: 14px;
    padding: 8px 16px;
    margin: 14px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.swiper-pagination-bullet{
    background-color: #f5c227;
    opacity: 1;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev{
    background-color: #fff !important;
}



/* ------------------------- Contact  */

#contact{
    position: relative;
}

#contact form{
    position: relative;
    background: repeating-conic-gradient(from var(--a), #f5c227 0%, transparent 10%, transparent 50%);
    animation: animateForm 6s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    z-index: 1;
    padding: 60px;
    color: var(--txt-color);
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animateForm {
    0%{
        --a:0deg;
    }100%{
        --a:360deg
    }
}

#contact form::before{
    content: '';
    position: absolute;
    inset: 2px;
    border: 2px solid var(--main-bg);
    background: #ffffff;
    z-index: -1;
}

#contact h1{
    font-size: 2.6em;
    text-align: center;
}

#contact p{
    color: var(--light-txt);
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

#contact h1,
#contact form h2{
    font-weight: 500;
}

.inputBox{
    position: relative;
    width: 280px;
    margin: 16px 0 0 0;
}

.inputBox input,
.inputBox textarea{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #574f45;
    background: transparent;
    outline: none;
    color: #574f45;
    font-size: 14px;
    cursor: none;
    transition: .5s;
    font-family: 'Poppins';
    resize: none;
}

.inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 1em;
    color: #574f45;
    transition: .5s;
    font-family: 'Poppins';
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:user-valid ~ span,
.inputBox textarea:focus ~ span{
    color: #574f45;
    transform: translateY(-10px);
    font-size: 0.65em;
}

#contact form input[type="submit"]{
    width: 100%;
    background: #f5c227;
    color: var(--txt-color);
    border: none;
    font-weight: 600;
    font-family: 'Poppins';
    padding: 12px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: none;
}

#contact .backgroundObj{
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(#fff2,rgba(112,60,60,.2));
}

/* //Animation to Alert  */

.alertBox{
    position: fixed;
    bottom: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9999;
    background: rgb(31,31,31);
}

.alertBox p{
    color: white;
    margin: 8px 0;
}

.alertBox.animAlert{
    animation: popUpAlert 3s linear;
}

@keyframes popUpAlert {
    0%{
        bottom: -60px;
    }
    10%{
        bottom: 0px;
    }
    90%{
        bottom: 0px;
    }
    100%{
        bottom: -60px;
    }
}


/* // Footer  */

#footer{
    display: flex;
    justify-content: center;
}

#footer li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}



#footer li a{
    text-decoration: none;
    color: var(--txt-color);
    font-size: 18px;
    cursor: none;
}

#footer li a:hover{
    color: #f5c227;
}

#footer div input{
    margin: 12px 0;
    width: auto;
    border: none;
    outline: none;
    padding: 12px 16px;
    font-family: 'Poppins';
    background: transparent;
    color: white;
    cursor: none;
    border-bottom: 2px solid #f5c227;
}

#footer div button{
    padding: 12px 16px;
    border: none;
    outline: none;
    cursor: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    background: #f5c227;
}


.cursor{
    width: 8px;
    height: 8px;
    z-index: 10000;
    border-radius: 50%;
    background-color: var(--txt-color);
    position: fixed;
    transition: .1s;
    pointer-events: none;
}

.cursor::after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 14px;
    top: -15px;
    left: -15px;
    border: 1px solid var(--txt-color);
    position: absolute;
}

.cursor.active{
    transform: scale(0.8);
}
.cursor.active::after{
    transform: scale(0.8);
}

.hoverElements{
    transition: .2s;
}

.hoverElements:hover{
    filter: brightness(1.1);
}


.revealElements{
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(20px);
}

.revealElements.active{
    opacity: 1;
    transform: translateY(0);
}

#closeMenu{
    display: none;
}